DB_NAME=mooztau_db
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=db
DB_PORT=5432
JWT_SECRET=change-this-to-random-string
GRAFANA_PASSWORD=admin

# Frontend build
# Для prod (сервер): указывай IP сервера
# Для dev (локально): указывай localhost
VITE_MOCK=false
VITE_AUTH_API_URL=http://YOUR_SERVER_IP:8002
VITE_ORDERS_API_URL=http://YOUR_SERVER_IP:8001
VITE_FINANCE_API_URL=http://YOUR_SERVER_IP:8003
VITE_AUDIT_API_URL=http://YOUR_SERVER_IP:8001
VITE_CHAT_API_URL=http://YOUR_SERVER_IP:8006
